<%- include("partials/header") -%>
<div class="jumbotron">
  <h1 class="display-4">Your transaction was Successful!</h1>
  <p class="lead">Thank you for using our service.</p>
  <hr class="my-4">
  <p>Click below to return to home.</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="/" role="button">Home</a>
  </p>
</div>

<%- include("partials/footer") -%>
